/* /css/styles.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: regular-font;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: bold-font;
}

form {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
}

button,
input[type="submit"] {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.carousel {
    display: flex;
    overflow: hidden;
    margin-bottom: 2rem;
    cursor: grab;
}

.carousel-item {
    flex: 0 0 25%;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.carousel-item img {
    width: 100%;
    height: 150px;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 4px;
}

.carousel-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.carousel-item p {
    font-size: 1rem;
    color: #777;
    padding: 10px;
}

.selected {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.match-type {
    margin-top: 2rem;
    text-align: center;
}

.match-type h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.match-type label {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.match-type input[type="radio"] {
    margin-right: 0.5rem;
}

.num-players {
    margin-top: 1rem;
    text-align: center;
}

.num-players h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.num-players #num-players-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.num-players .num-player {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.num-players .num-player:hover {
    background-color: #eee;
}

.num-players .num-player.selected {
    background-color: #ff4d4d;
    color: white;
}

.lobby-code {
    margin-top: 1rem;
    text-align: center;
}

.lobby-code label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
}

.lobby-code input {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#ready-button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}